@model Category 
@{ 
     ViewData["Title"] = "Create Category"; 
} 

<h2>Create New Category</h2> 

<form asp-action="CreateCategory" method="post"> 
<div class="mb-3"> 
        <label asp-for="Name" class="form-label">Category Name</label> 
        <input asp-for="Name" class="form-control" /> 
        <span asp-validation-for="Name" class="text-danger"></span> 
</div>
<button type="submit" class="btn btn-primary">Create</button> 
<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form> 
 @section Scripts { 
   <partial name="_ValidationScriptsPartial" />
}



<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>